<div class="container">
  <div class="page-header">
    <h1>
    </h1>
  </div>
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
      <%= @talent.first_name %>
      <%= @talent.middle_name %>
      <%= @talent.last_name %>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">Bookings</div>
      <div class="panel-body">
        <table class="table">
          <th>Breakdown</th>
          <th>Status</th>
          <% for item in @talent.bookings %>
            <tr>
              <td><%= link_to item.breakdown.name, breakdown_path(item.breakdown) %></td>
              <td><%= link_to "Paid", pick_path(item, workflow_state: "Paid"), class: "btn btn-primary", method: :patch %></td>
            </tr>
          <% end %>          
        </table>        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">Photos</div>
      <div class="panel-body">
      <% for item in @talent.photos %>
          <%= raw get_thumb_image(item) %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <%= link_to "Edit", edit_talent_path(@talent), class: "btn btn-default" %>
  </div>
</div>
