<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>
        <%= @breakdown.name %>
        <small><%= @breakdown.description %></small>
      </h1>
      <%= link_to "Edit", edit_breakdown_path(@breakdown), class: "btn btn-default" %>
    </div>
  </div>
  <p>
  </p>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">Choose Talent</div>
      <div class="panel-body">
        <p>Choose the talent to submit from the table. Chosen talent appear in the table at the bottom of the page.</p>
      </div>

      <%= grid(@talent_grid) do |g|

        g.column name: 'Photo' do |t|
          raw get_profile_picture(t)
        end
        g.column  name: 'First', attribute: 'first_name'
        g.column name: 'Last', attribute: 'last_name'
        g.column name: 'D.O.B', attribute: 'date_of_birth'
        g.column name: 'Age', attribute: 'date_of_birth', filter: false do |t|
          age(t)
        end
        g.column do |t|
            link_to "Choose", new_pick_path(breakdown_id: @breakdown, talent_id: t, grid: request.parameters[:grid]), class: "btn btn-primary"
        end
      end -%>


    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Chosen Talent</div>
      <div class="panel-body">
        <p>Chosen talent will be shown here.</p>
        <table class="table">
          <th>Photo</th>
          <th>First Name</th>
          <th>Surname</th>
          <th>Age</th>
          <th>Status</th>
          <th></th>
          <th></th>

          <% for item in @chosen %>
            <tr>
              <td><%= raw get_profile_picture(item) %></td>
              <td><%= item.talent.first_name %></td>
              <td><%= item.talent.last_name %></td>
              <td><%= age(item.talent) %></td>
              <td><%= item.workflow_state %></td>
              <td><%= get_pick_state_change_button(item) %></td>
              <td><%= link_to "Unpick", pick_path(item),  class: "btn btn-danger", method: :delete %></td>
            </tr>
          <% end %>

        </table>

        <div class="breakdown_submit">

        </div>
      </div>

    </div>
  </div>
</div>
